
@{
    ViewBag.Title = "AddExperience";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h4>Yeni Admin Ekleme Sayfası</h4>
<br />
<form method="post" class="form-group">

    <input type="text" name="UserName" class="form-control"
           placeholder="Kullanıcı Adı Giriniz..." />
    <br />
    <input type="text" name="Password" class="form-control"
           placeholder="Şifre Giriniz..." />
    <br />
   

    <button class="btn btn-info">Kaydet</button>
</form>


