@model MVCCV.Models.Entity.TblSkills
@{
    ViewBag.Title = "GetSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Yetenek Güncelleme Sayfası</h2>
<br />

<form method="post" class="form-group">
    @Html.Label("Yetenek İsmi ")
    @Html.TextBoxFor(x => x.Skills, new { @class = "form-control" })
    @Html.Label("Derece")
    @Html.TextBoxFor(x => x.Rate, new { @class = "form-control" })


    <br />
    <button class="btn btn-info">Güncelle</button>
</form>
